{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "babel-plugin-transform-remove-strict-mode",
    ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]
  ]
}